#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.container {
  border-radius: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
}

.content-container {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: auto;

  .content {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex: 1 1 auto;

    .title {
      color: black;
    }

    @media (max-width: 700px) {
      justify-content: unset;
    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    min-height: 116px;
    min-width: 121px;
    padding: 20px;
  }

  .submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    @media (max-width: 700px) {
      padding: 0px 0px 10px 0px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 75px;
      padding: 5px;
      margin: 0;
      border-radius: 5px;
      background-color: rgb(60, 60, 60);
      border: 1px solid rgb(187, 186, 186);

      &:hover {
        background-color: rgb(127, 124, 124);
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
    input {
      height: 15px;
      background-color: white;
      border: 1px solid rgb(223, 216, 216);
      color: black;
      padding: 5px;
      border-radius: 5px;
    }
    input:focus {
      outline: 1px solid rgb(177, 177, 177);
    }
  }
}
